@model IEnumerable<Chat>

<div class="side-menu">
    @foreach (var chat in Model)
    {
        <a class="room-button">@chat.Name</a>
    }

    <a class="room-button" id="create-room-btn"><strong>+</strong></a>
</div>